@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800;1,900&display=swap');


:root {
  --dark-one: #333;
  --dark-two: #424242;
  --main-color: #0A6EDD;
  --dark-main-color: #0E5DB5;
  --light-one: #fff;
  --light-two: #EFF5F9;
  --light-three: #F9FCFF;
  --green: #25D366;
  --backgorund-color:#EEF6FF;
}


/*====================================GENERAL-STYLES====================================*/


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  zoom: 0.85;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  pointer-events: none;
}

.container {
  position: relative;
  z-index: 5;
  max-width: 90rem;
  padding: 0 4rem;
  margin: 0 auto;
}


.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
  
  .column-1 {
    margin-right: 1.5rem;
  }
  
  .column-2 {
    margin-left: 1.5rem;
  }

  
  .title {
    font-size: 3.8rem;
    line-height: 1;
    color: var(--dark-one);
  }





  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .overlay .shape {
    width: initial;
    opacity: 0.13;
    position: absolute;
  }
  
  .overlay.overlay-lg .shape {
    height: 55px;
  }
  
  .overlay.overlay-lg .shape.wave {
    height: initial;
    width: 88px;
  }
  
  .overlay.overlay-lg .shape.xshape {
    height: 38px;
  }
  
  .overlay.overlay-sm .shape {
    filter: brightness(0) invert(1);
    opacity: 0.15;
    height: 40px;
  }
  
  .overlay.overlay-sm .shape.wave {
    height: initial;
    width: 70px;
  }
  
  .overlay.overlay-sm .shape.xshape {
    height: 30px;
  }
  
  .points {
    opacity: 0.3;
    position: absolute;
  }


/*====================================END-GENERAL-STYLES====================================*/


/*====================================HEADER====================================*/
header {
    width: 100%;
    background-color: var(--light-three);
    overflow: hidden;
    position: relative;
  }
  
  nav {
    width: 100%;
    position: relative;
    z-index: 50;
  }

  /* nav .container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
  } */

  nav {
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    transition: 0.2s;
    padding: 0 10% 0;
    z-index: 100000;
}

nav.sticky {
    height: 6rem;
    background: var(--light-one);
    box-shadow: 0 2px 4px -2px grey;
}




  
  .logo {
    font-size: 2rem;;
    display: flex;
    align-items: center;
  }
  
  .links ul {
    display: flex;
    
  }
  
  .links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--light-one);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
  }
  
  .links a.active {
    background-color: var(--light-one);
    color: var(--main-color);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border: 2px solid var(--light-one);
  }
  

  .links a:hover{
    /* color: var(--main-color); */
    text-decoration: underline;
  }

  

  .links a.active:hover {
    color: var(--light-one);
    background-color: transparent;
    border: 2px solid var(--light-one);
    text-decoration: none;
  }

  .links a.active:active{
      color: var(--light-one);
      border: 2px solid var(--dark-main-color);
      text-decoration: none;
  }

  nav.sticky .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--light-one);
}

nav.sticky .active:hover {
    background-color: transparent;
    border-color: var(--main-color);
    color: var(--main-color);
}

nav.sticky ul li a {
    color: var(--dark-one);
}







.contactUs_heading{
    text-align: center;
    margin-top: 10rem;

}

.contact_title{
    font-weight: bold;
    font-size: 4rem;
    line-height: 3.25rem;
    color: var(--light-one);
}

.contact_subtitle{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.3rem;
    color: var(--light-one);
    margin-top: 1.5rem;
}

.contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    text-align: center;
}

.contact_info_sub-heading {
    border-right: solid 2px var(--light-one);
    padding: 0 10px 0 10px;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--light-one);
}



.globe{
    width: 1.25rem;
}

.call{
    width: 1.25rem;
    margin-left: 0.8rem;
}

.mail {
    width: 1.25rem;
    margin-left: 0.8rem;
}



.email {
    border-style: none;
}





.contactUs_image_form {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.contact_image{
    padding: 2rem;
    max-width: 40rem;
}

.contact_form_section {
    width: 22.5rem;
    height: 31.25rem;
    background: var(--light-one);
    border-radius: 1rem;
    filter: drop-shadow(0px 1px 4px #428BC1);
    margin: 0 4rem 1rem 0;
}


.form_heading {
    display: flex;
}

.form_intro {
    font-weight: 500;
    font-size: 1.25rem;
    padding: 1.5rem 0 2rem 1.8rem;
    color: var(--dark-one);
}

.form_inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

input {
    background: #FBFDFF;
    border-style: none;
    box-shadow: 0px 0px 4px #567F9B;
    border-radius: 0.5rem;
    
}

.form-input {
    width: 19.25rem;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.95rem;
}

textarea {
    width: 19.25rem;
    height: 6.25rem;
    padding: 0.5rem 0 0 1rem;
    background: #FBFDFF;
    box-shadow: 0px 0px 4px #567F9B;
    border-radius: 0.5rem;
    border-style: none;
    resize: none;
    font-size: 0.95rem;
}


textarea::placeholder {
    font-size: 0.9rem;
}


textarea:focus, input:focus{
    outline: none;
}

.form_button{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.form_submit_button {
    display: inline-block;
    width: 10rem;
    height: 2.6rem;

    background: var(--green);
    color: var(--light-one);
    border: 2px solid var(--green);
    box-shadow: 0px 0px 4px var(--green);
    border-radius: 0.8rem;

    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.3s;
}

.form_submit_button:hover{
    box-sizing: border-box;
    background-color: transparent;
    color: var(--green);
    font-weight: 600;
    border: 2px solid var(--green);
}



header .bg-images {
    position: absolute;
    z-index: 0;
}

header .bg1 {
    top: 0%;
    right: 0;
}







 header .points1 {
    width: 250px;
    bottom: 0;
    right: 0;
  }
  
  
  header .square {
    right: 68%;
    top: 71%;
  }
  
  header .triangle {
    right: 7%;
    bottom: 75%;
  }
  
  header .xshape {
    right: 4%;
    bottom: 50%;
  }
  
  
  header .half-circle2 {
    left: 5%;
    top: 67%;
  }
  
  header .wave1 {
    bottom: 75%;
    left: 10%;
  }
  
  header .wave2 {
    bottom: 8%;
    right: 40%;
  }
  



  
/*====================================END-HEADER====================================*/


/*====================================ContactUs-Info====================================*/

.contactUs2 {
    background: var(--backgorund-color);
    padding-bottom: 4rem;
}


.container{
    padding-bottom: 4rem;
}


.office_location {
    text-align: center;
    padding-top: 4rem;
}



.offices {
    font-weight: 600;
    font-size: 3rem;
    color: var(--dark-one);
}


.locations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    column-gap: 8rem;
    margin-top: 3rem;
}

.locationSymb2 {
    margin-left: 5rem;
}


.office1_state,
.office2_state {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 30px;
    color: var(--dark-one);
}

.office1_address,
.office2_address {
    font-weight: 500;
    color: var(--dark-two);
    font-size: 0.9rem;
    line-height: 20px;
}


.india-icon{
    max-width: 3rem;
}



.office2 {
    margin-right: 10rem;
}


/*====================================END-ContactUs-Info====================================*/


/*====================================Footer====================================*/


.container{
    padding: 0 1rem;
}


.footer{
    background-color: var(--main-color);
}


.grid-6{
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr;
    color: var(--light-one);
}


.grid{
    padding: 0 2rem 0 0;
}


.footer-heading{
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--light-one);
    padding: 4rem 0 0;
}


.footer-heading-underline{
    width: 3rem;
    height: 2px;
    background: var(--light-one);
    margin-bottom: 2.5rem;
    border-radius: 1rem;
}






.headoffice{
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    padding-bottom: 1rem;
}


.footer p,
.footer a{
    font-size: 0.9rem;
    color: var(--light-one);
}

.footer-location{
}

.footer_location_img{
    width: 1rem;
}

.footer_call_img{
    width: 1rem;
}

.footer_mail_img{
    width: 1.2rem;
}

.footer-services-names{
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
}

.trademark{
    text-align: center;
    color: var(--light-one);
    padding:3rem 0 0.5rem 0;
}

/*====================================END-Footer====================================*/


.h-icon{
  display: none;
}



@media only screen and (max-width: 600px) {
  .header-content .container.grid-2 {
      margin-top: 6rem;
      grid-template-columns: 3fr 0fr;
      min-height: 100vh;
      padding-bottom: 2.5rem;
      text-align: left;
    }

    .column-1{
      text-align: center;
      padding-left: 2rem;
      margin-right: 0rem;
  }
  
  .column-2{
      margin-left: 0;
  }
  
  header .bg1 {
      display: none;
      max-width: 25rem;
      top: 0;
      right: 0;
  }





  .title {
      font-size: 2.8rem;
      line-height: 1;
      color: var(--dark-one);
    }


  .header-sub-title {
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 1.25rem;
      padding-left: 4rem;
      padding-bottom: 1.8rem;
      color: var(--dark-one);
    }
  
  
  
  header .text {
      font-size: 1rem;
      color: var(--dark-two);
      line-height: 1.4;
    }
    
  header .para1 {
        padding-top: 1.5rem;
    }
  
  header  .para2{
        padding-top: 1rem;
    }
  
    header .btn {
      display: inline-block;
      margin-top: 1rem;
      padding: 0.75rem 2rem;
      background-color: var(--green);
      border: 2px solid var(--green);
      color: var(--light-one);
      box-shadow: 0px 0px 6px 1px rgba(37, 211, 102, 0.55);
      border-radius: 3rem;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      transition: 0.3s;
    }







.footer-heading{
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--light-one);
  padding: 4rem 0 0;
  text-align: center;
}

.footer-heading-underline{
  width: 3rem;
  height: 2px;
  background: var(--light-one);
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  margin-left: 5.5rem;
}

.footer p,
.footer a{
  font-size: 1rem;
  color: var(--light-one);
}


.footer_location_img{
  width: 0.8rem;
}
.footer_call_img{
  width: 0.8rem;
}

.footer_mail_img{
  width: 1rem;
}


.footer-services-names{
  display: none;
  flex-direction: column;
  row-gap: 1.3rem;
}

.trademark{
  font-size: 1rem;
}



.grid{
  padding: 0 2rem 0 2rem;
}

.grid-6{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-one);
}


.two, .three, .four, .five{
  display: none;
}

.h-icon{
display: block;
}
#links{
display: none;
position: absolute;
background-color: #0A6EDD;
top: 100%;
width: 100%;
left: -0%;
padding: 1rem;
}
.links ul {
display: contents;

}





.contact_title{
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 3rem;
    color: var(--dark-one);
}

.contact_subtitle{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--dark-two);
    margin-top: 1.2rem;
}

.contact_info_sub-heading {
    border-right: solid 2px var(--dark-main-color);
    padding: 0 10px 0 10px;
    font-weight: 500;
    font-size: 0.7rem;
    color: var(--main-color);
}


.email {
    border-style: none;
}

.globe{
    width: 1.25rem;
    background: var(--main-color);
    border-radius: 10px;
}

.call{
    width: 1.25rem;
    margin-left: 0.8rem;
    background: var(--main-color);
    border-radius: 10px;
}

.mail {
    width: 1.25rem;
    margin-left: 0.8rem;
    background: var(--main-color);
    border-radius: 10px;
}

.contactUs_image_form {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-direction: column;
}


.contact_image{
    margin: 0 auto;
    padding: 2rem;
    max-width: 20rem;
}


.contact_form_section {
    width: 20rem;
    height: 28.5rem;
    background: var(--light-one);
    border-radius: 1rem;
    filter: drop-shadow(0px 1px 4px #428BC160);
    margin: 2rem auto;
}


.form_intro {
    font-weight: 500;
    font-size: 1.1rem;
    padding: 1.5rem 0 2rem 1.5rem;
    color: var(--dark-one);
}

.form_inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1.5rem 0 1.5rem;
    row-gap: 2rem;
}

.form-input {
    width: 17.5rem;
    height: 2.2rem;
    padding:0 1rem 0 1rem;
    font-size: 0.85rem;
}

textarea {
    width: 17.5rem;
    height: 5rem;
    padding: 0.5rem 0 0 0.8rem;
    background: #FBFDFF;
    box-shadow: 0px 0px 4px #567F9B;
    border-radius: 0.5rem;
    border-style: none;
    resize: none;
    font-size: 0.85rem;
}

textarea::placeholder {
    font-size: 0.8rem;
}

.form_submit_button {
    display: inline-block;
    width: 9rem;
    height: 2.4rem;

    background: var(--green);
    color: var(--light-one);
    border: 2px solid var(--green);
    box-shadow: 0px 0px 4px var(--green);
    border-radius: 0.8rem;

    font-weight: 500;
    font-size: 0.8rem;
    transition: 0.3s;
    margin-bottom: 1rem;
}












.offices {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--dark-one);
}

.locationSymb2 {
    display: none;
}


.locations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 8rem;
    margin: 3rem 1rem 0 1rem;
}



.office2 {
    margin-right: 0;
}
















}


